/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
    display:block;
}

nav ul {
    list-style:none;
}

blockquote, q {
    quotes:none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content:'';
    content:none;
}

a {
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

/* change colours to suit your needs */
ins {
    background-color:#ff9;
    color:#000;
    text-decoration:none;
}

/* change colours to suit your needs */
mark {
    background-color:#ff9;
    color:#000;
    font-style:italic;
    font-weight:bold;
}

del {
    text-decoration: line-through;
}

abbr[title], dfn[title] {
    border-bottom:1px dotted;
    cursor:help;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

/* change border colour to suit your needs */
hr {
    display:block;
    height:1px;
    border:0;
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}

input, select {
    vertical-align:middle;
}

/*MY CODE*/

body{
  background: linear-gradient(rgba(0,0,0,0.4), rgba(0, 0, 0, 0.4)),url(picturesSS/group2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.container{
  width: 1000px;
  height: 90px;
  margin-left: 134px;
  border-bottom: 1px solid #FDC5C5;
}

.container h2{
  font-family: 'Cinzel', serif;
  font-style: italic;
  font-size: 40px;
  color: #F0F0F0;
  padding-top: 30px;
  text-shadow: 4px 0 0 black;
}

.container button{
  text-decoration: none;
  font-weight: 900;
  font-size: 28px;
  color: #111;
  text-shadow: 1px 0 0 black;
  float: right;
  margin: 0 18px;
  margin-top: 42px;
  font-family: 'Amatic SC', cursive;
  letter-spacing: 3px;
}

.container button:hover{
  cursor: pointer;
}

.positions a{
  display: block;
  padding: 10px 10px;
  border-radius: 10px;
  margin: 50px 480px;
  text-align: center;
  text-decoration: none;
  font-size: 30px;
  color: black;
  background-color: #F0F0F0;
  opacity: .8;
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
}

.positions a:hover{
  background-color: #FED3D3;
  color: white;
}

.footer{
  border-top: 1px solid #FDC5C5;
  display: inline-block;
  margin: 0 auto;
  width: 1000px;
  height: 90px;
  margin-left: 134px;
}

.footer h1{
  text-align: center;
  font-size: 30px;
  color: #FDC5C5;
  margin-top: 10px;
  font-family: 'Amatic SC', cursive;
  font-weight: 900;
}

.footer img{
  width: 48px;
  margin: 10px 40px;
  margin-top: 10px;
  margin-left: 128px;
}

.footer .YT{
 width: 58px;
}
